In [1]:
#round method

a=45.215
parth=(round(a,1))
parth

45.2

In [ ]:
def main():
    # Step 1: Input two numbers as strings
    num1_str = input("Enter the first number: ")
    num2_str = input("Enter the second number: ")

    # Step 2: Convert strings to numbers (integer or floating-point)
    num1 = str(num1_str)
    num2 = str(num2_str)
    num3 = int(num2)
    num4 = int(num1)
    # Step 3: Calculate the sum
    result = num4 + num3

    # Step 4: Display the result
    print("The sum of", num1, "and", num2, "is:", result)

if __name__ == "__main__":
    main()

In [ ]:
import pandas as pd
import seaborn as sns

url = "iris.csv"
data = pd.read_csv(url)

sns.lineplot(x="sepal_length", y="sepal_width", data=data)

In [ ]:
import pandas as pd
import seaborn as sns

url = "iris.csv"
data = pd.read_csv(url)

sns.lineplot(x="sepal_length", y="sepal_width", data=data, color="blue", label="sepal_width")
sns.lineplot(x="sepal_length", y="petal_length", data=data, color="red", label="petal_length")

In [ ]:
my

In [ ]:
my[1]

In [ ]:
my[0:2]

In [ ]:
my1="apple,menog,fruti"
my1

In [ ]:
my1.split("e")

In [ ]:
tup1=(1,3.14,True,2,(2-3j))
tup1

In [ ]:
type(tup1)

In [ ]:
tup1[1:2]

In [ ]:
a=10
b=20

In [ ]:
if  b>a:
    print("b is good then a")

In [ ]:
if  a>b:
    print("a is good then b")
else:
        print("b is good  then a")

In [ ]:
a=10
b=20
c=30

In [ ]:
if (a>b)&(a>c):
    print(" a is a good")
elif  (b>a)& (b>c):
    print("b is a good")
else:
    print(" c is a good")

In [ ]:
t1=('a','b','c')

In [ ]:
if 'z' in t1:
    print("z in a tup1")
else:
    print("z is not add")

In [ ]:
l1=['a','b','c']

In [ ]:
if l1[1]=="b":
    l1[1]='z'

In [ ]:
l1

In [ ]:
 d1={'k1':10,'k2':30}

In [ ]:
d1

In [ ]:
if d1['k2']==30:
    d1['k2']=d1['k2']=10

In [ ]:
d1

In [ ]:
d1

In [ ]:
if d1['k2']==30:
    d1['k2']=d1['k2']=100

In [ ]:
d1

In [ ]:
# looping statements

#1:30:00

In [ ]:
 #while loop

In [ ]:
i=1
while i<=10:
    print(i)
    i=i+1

In [ ]:
i=1
n=2
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

In [ ]:
# while with list

In [ ]:
l1=[1,2,3,4,5]
i=1

In [ ]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [ ]:
l1

In [ ]:
while i<len(ll1):
    ll1[i]=ll1[i]+100
    i=i+1

In [ ]:
ll1

In [ ]:
#for loop

In [ ]:
l1=['apple','mengo']

In [ ]:
for p in l1:
    print(p)

In [ ]:
num = 1
while num <= 5:
    print(num)
    num += 1

In [ ]:
 l1=['black','white',]
l2=['book','leptop']

In [ ]:
for i in l1:
    for j in l2:
        print(i,j)

In [ ]:
 #python functions
    
    def hello():
        print("hello word")

In [ ]:
hello()

In [ ]:
def parth(x):
    return x+20

In [ ]:
def parth(x):
    return x*20

In [ ]:
parth(10)

In [ ]:
parth(5)

In [ ]:
def odd_even(x):
    if x*1==0:
        print(x,"odd is number")
    else :
        print(x,"event is number")

# odd_even(2)

In [ ]:
odd_even()

In [ ]:
#lambda


p =lambda x: x*x*x

In [ ]:
p(10)

In [ ]:
p(5)

In [ ]:
#lambda with filter
l1=[154,545,15,5155,554,0]
filnal=list(filter(lambda x:(x/2!=0),l1))

In [ ]:
filnal

In [ ]:
#lambda wirh map
l1=[1,2,3,4,9,5,6,7,8,]

final=list(map(lambda x: x*2,l1))

In [ ]:
final

In [ ]:
 #from functools import reduce

In [ ]:
sum=reduce(lambda x,y:x+y,l1)

In [ ]:
sum

In [ ]:
#PYTHON  objcet orinted programing

In [ ]:
class phone:
    def call(self):
        print("make the call")
    def game(self):
        print("play to game")

In [ ]:
p1=phone()

In [ ]:
p1.call()

In [ ]:
p1.game()

In [ ]:
# adding parameters to the class

In [ ]:
class phone:
    def setcolor(self,color):
        self.color=color
    def setcost(self,cost):
        self.cost=cost
    def showcolor(self):
        return self.color
    def showcost(self):
        return self.cost
    def call(self):
        print("make the call")
    def game(self):
        print("play to game")

In [ ]:
p2=phone()

In [ ]:
p2.setcolor("blue")

In [ ]:
p2.showcolor()

In [ ]:
p2.setcost(1000)

In [ ]:
p2.showcost()

In [ ]:
#creating a class with constructor

In [ ]:
class emp:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def show_emp_detail(self):
        print("name of emp is",self.name)
        print("age of age is",self.age)
        print("salary of salary is",self.salary)
        print("gender of gender is",self.gender)

In [ ]:
p1 =emp('ram',10,1000,'male')

In [ ]:
p1.show_emp_detail()

In [ ]:
#inheritace in python

In [ ]:
class parth:
    def __init__(self,mileage):
        self.mileage = mileage
        
        
        
    def show(self):
        print("mileage of vehicle is",self.mileage)
       
      
         
v2 = parth(100)

In [ ]:
v2.show()

In [ ]:
class car1:
    def __init__(self,cost):
        self.cost = cost
 

    def prints(self):
        print("cost if vehocle is",(self.cost))
        print("all the good cars")

In [ ]:
obj = car1(100)

In [ ]:
obj.prints()

In [ ]:
name =(input(" name:"))
age  =int(input(" age:"))
email=(input(" email:"))


print("name\t:\t{name}\nage\t:\t{age}\t:\t\nemail}")

In [ ]:
#over-riding  init method

In [ ]:
class car(car1):
    def __init__(self,cost,tyres,hp):
        super().__init__(cost)
        self.tyres=tyres
        self.hp=hp
        
        
    def showcardetail(self):
        print("car in:",self.tyres)
        print("car in:",self.hp)

In [ ]:
c1= car(1200,8,130)

In [ ]:
c1.showcardetail()

In [ ]:
#multiple inheritance in pythn

In [ ]:
class parent1:
    def strr1(self,str1):
        self.str1=str1
        
    def show_strr1(self):
        return  self.str1

In [ ]:
class parent2:
    def strr2(self,str2):
        self.str2=str2
        
    def show_strr2(self):
        return self.str2

In [ ]:
class child(parent1,parent2):
    def chiidd1(self,child1):
        self.child1=child1
        
    def show_child1(self):
        return self.child1

In [ ]:
my_child=child()

In [ ]:
my_child.strr1("i am string of parent 1")

In [ ]:
my_child.strr2("i am string of parent 2")

In [ ]:
my_child.chiidd1(" i am string of child")

In [ ]:
my_child.show_strr1()

In [ ]:
my_child.show_strr2()

In [ ]:
my_child.show_child1()

In [ ]:
#multi-level inheritace in python

In [ ]:
class parent1:
    def strr1(self,str1):
         self.str1=str1
    def show_str1(self):
        return self.str1

In [ ]:
class child(parent1):
    def strr2(self,str2):
        self.str2=str2
    def show_str2(self):
        return self.str2

In [ ]:
class grendchild(child):
    def strr3(self,str3):
        self.str3=str3
    def show_str3(self):
        return self.str3

In [ ]:
my_child=grendchild()

In [ ]:
my_child.strr1("i am parent1")

In [ ]:
my_child.strr2("i am child")

In [ ]:
my_child.strr3("i am grand child")

In [ ]:
my_child.show_str1()

In [ ]:
my_child.show_str2()

In [ ]:
my_child.show_str3()

In [ ]:
# python in library

# numpy in python

In [ ]:
#single -dimensional array
import numpy as np
l1=([1,2,3,4])
n1=np.array(l1)

In [ ]:
n1

In [ ]:
#multiple -dimensional array
type(n1)

In [ ]:
n2=np.array([[1,2,3,4],[4,5,6,7]])

In [ ]:
n2

In [ ]:
type(n2)

In [ ]:
# zeros method
import numpy as np

n3=np.zeros((10,5))

In [ ]:
n3

In [ ]:
type(n3)

In [ ]:
#full methods
n4 =np.full((2,10),100)

In [ ]:
n4

In [ ]:
#arange method

n5=np.arange(10,30)

In [ ]:
n5

In [ ]:
n5=np.arange(10,50,8)

In [ ]:
n5

In [ ]:
#random.randint method

import numpy as np
n6=np.random.randint(100,200,10)

In [ ]:
n6

In [ ]:
#numpy-shape

import numpy as np
n1=np.array([[1,2,2],[3,5,8]])

In [ ]:
n1

In [ ]:
n1.shape=(3,2)

In [ ]:
n1

In [ ]:
n1.shape=(6,1)

In [ ]:
n1

In [ ]:
#joining numpy array

In [ ]:
#vstack

import numpy as np
n1=np.array([1,2,30])
n2=np.array([5,6,9])


np.vstack((n1,n2))

In [ ]:

#hstack

np.hstack((n1,n2))

In [ ]:
#column_stack

np.column_stack((n1,n2))

In [ ]:
#numpy intersection& defferece

In [ ]:
#intersect1d method

import numpy as np
n1=np.array([1,2,3,4,5])
n2=np.array([4,5,6,7,8,9])

np.intersect1d(n1,n2)

In [ ]:
#setdiff1d method

np.setdiff1d(n1,n2)

In [ ]:
np.setdiff1d(n2,n1)

In [ ]:
#numpy array mathematics

import numpy as np

n1=np.array([10,20])
n2=np.array([40,50,])


# sum
np.sum((n1,n2))

In [ ]:
#axis mthods

np.sum((n1,n2),axis=0)

In [ ]:
np.sum((n1,n2),axis=1)

In [ ]:
#+-*- method

import numpy as np

n1=np.array([10,20])
n1=n1+1
n1

In [ ]:
n1=np.array([10,20])
n1=n1-9
n1

In [ ]:
n1=np.array([10,20])
n1=n1*4
n1

In [ ]:
n1=np.array([10,20])
n1=n1/5
n1

In [ ]:
#numpy math function

In [ ]:
#mean

n1=np.array([10,20])
np.mean(n1)

In [ ]:
#median

n1=np.array([10,20,54,85,79,99,9])
np.median(n1)

In [ ]:
#standard deviation

n1=np.array([10,20,65,9,659,6])
np.std(n1)

In [ ]:
#numpy save&load

import numpy as np
n1=np.array([11,2,3,4,45,5,6,4,7,7])
np.save('parth',n1)


#load

np.load('parth.npy')

In [ ]:
#python pandas

In [ ]:
import pandas as pd

In [ ]:
#Series

s1 = pd.Series([1,2,3,4,5])

In [ ]:
s1

In [ ]:
type(s1)

In [ ]:
s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [ ]:
s1

In [ ]:
import pandas as pd

pd.Series({'a':1,'b':2,'w':3,'w':4,'e':5})

In [ ]:
#chaning index position

In [ ]:
 s5=pd.Series({'a':1,'b':2,'w':3,'w':4,'e':5},index=['k1','p','ss','ap','a'])

In [ ]:
s5

In [ ]:
#EXTTRACTING value

In [ ]:
s1=pd.Series([1,2,3,4,5,6,7,8,9,0])

In [ ]:
s1[2]

In [ ]:
s1[0:4]

In [ ]:
s1[-5:]

In [ ]:
# basic math operations on series

In [ ]:
s1= pd.Series([1,2,3,4,5,6,7,8,9])

In [ ]:
s1+50

In [ ]:
s1= pd.Series([1,2,3,4,5,6,7,8,9])
s2= pd.Series([1,1,2,3,4,5,6,7])

In [ ]:
s1+s2

In [ ]:
# dataframe

In [ ]:
import pandas as pd

#DataFrame
s1=pd.DataFrame({'name':['parth','jay','palak'],'marks':[123,455,676]})

In [ ]:
s1

In [ ]:
import pandas as pd

DataSet =pd.read_csv('parth1.csv')

In [ ]:
#HEAD METHOD 

DataSet.head()

In [ ]:
#tail method
DataSet.tail()

In [ ]:
#shape method

DataSet.shape

In [ ]:
#describe method

DataSet.describe()

In [ ]:
#.iloc[]

DataSet.iloc[0:2,0:2]

In [ ]:
#.loc[]

DataSet.loc[1:2,'marks']

In [ ]:
#drop method

DataSet.drop(0,axis=0)

In [ ]:
DataSet.drop('name',axis=1)

In [ ]:
#more pandas functionas

DataSet.mean()

In [ ]:
DataSet.min()

In [ ]:
DataSet.max()

In [ ]:
DataSet.median()

In [ ]:
#half method

def half(s):
    return s*0.5


DataSet[['marks']].apply(half)

In [ ]:
#double method

def double_make(s):
    return s*2

DataSet[['marks']].apply(double_make)

In [ ]:
#value_counts method



DataSet['name'].value_counts()

In [ ]:
DataSet.head()

In [ ]:
#sort_values method 1


DataSet['name'].sort_values()

In [ ]:
#2 method

DataSet.sort_values(by='name')

In [ ]:
#python matplotlib

In [ ]:
#line plot

import numpy as np
from matplotlib import pyplot as plt

In [ ]:
x=np.arange(1,11)
x

In [ ]:
y=x*2

In [ ]:
plt.title("parth")
plt.xlabel("x")
plt.ylabel("y")
plt.grid(True)
plt.plot(x,y)
plt.show()

In [ ]:

plt.plot(x,y,color='b',linestyle=":",linewidth=5)
plt.show()

In [ ]:
x=np.arange(1,11)
y1=2*x
y2=3*x

In [ ]:
plt.plot(x,y1,color='b',linestyle=":",linewidth=5)
plt.plot(x,y2,color='y',linestyle='-',linewidth=3)


plt.title("parth")
plt.xlabel("x")
plt.ylabel("y")
plt.grid(True)
plt.plot(x,y)
plt.show()

In [ ]:
#SUBPLOT METHOD


plt.subplot(1,2,1)
plt.plot(x,y1,color='b',linestyle=":",linewidth=5)

plt.subplot(1,2,2)
plt.plot(x,y2,color='y',linestyle='',linewidth=3)


plt.grid(True)
plt.plot(x,y)
plt.show()

In [ ]:
#bar method


import numpy  as np
from matplotlib import pyplot as plt
student={"parth":1587,"jay":68952,"palak":575348}

names=list(student.keys())
values=list(student.values())

plt.bar(names,values,color='y')
plt.grid(True)
plt.title("part")
plt.xlabel("x")
plt.ylabel("y")
plt.show()

In [ ]:
type(student)

In [ ]:
type(names)

In [ ]:
#barh method


plt.barh(names,values,color='b')
plt.grid(True)
plt.title("part")
plt.xlabel("x")
plt.ylabel("y")


plt.show()

In [ ]:
#scatter plot

import numpy as np

x=[10,20,30,40,50,60,70,80,90]
y=[1,23,0,4,7,6,8,8,1]

plt.scatter(x,y)
plt.show()

In [ ]:

plt.scatter(x,y,marker="*",c="y",s=10000)
plt.show()

In [ ]:

x=[10,20,30,40,50,60,70,80,90]
a=[1,23,0,4,7,6,8,8,1]
b=[1,4,2,45,65,21,78,1,8]

plt.scatter(x,a,marker=".",c='b',s=100)
plt.scatter(x,b,marker="*",c="y",s=100)

plt.show()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#subplot
plt.subplot(2,1,1)
plt.scatter(x,a,marker=".",c='b',s=100)

plt.subplot(2,1,2)
plt.scatter(x,b,marker="*",c="y",s=100)

plt.show()

In [ ]:
#histogram method

data =[66,4,15,5,41,4,7,52,4,47,7,5,7,]

plt.hist(data)
plt.show()

In [ ]:
plt.hist(data,color="pink",bins=4)
plt.show()

In [ ]:
import pandas as pd
part=pd.read_csv("parth1.csv")
part.head()

In [ ]:
plt.hist(["marks"],bins=10,color='black')
plt.show()

In [ ]:
#box-plot method



import numpy as np
a=[1,2,3,4,5,6,7,8,9]
b=[7,9,8,5,6,7,8,7]
c=[7,1,3,6,8,9,1,7,7,5]

data=list([a,b,c])


plt.boxplot(data)
plt.show()

In [ ]:
 #violin-poit
    
    
import numpy as np
a=[1,2,3,4,5,6,7,8,9]
b=[7,9,8,5,6,7,8,7]
c=[7,1,3,6,8,9,1,7,7,5]

data=list([a,b,c])


plt.violinplot(data,showmedians=True)


plt.show()

In [ ]:
#pie-chart
 
fruti=['apple','monego','grva','efw']
price=[52,45,62,47]

In [ ]:
plt.pie(price,labels=fruti)
plt.show()

In [ ]:
#chining aesthetics 

plt.pie(price,labels=fruti,autopct='%0.1f%%',
        colors=['yellow','red','black','pink'])
plt.show()

In [ ]:
#doughut-chart
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
plt.pie(price,labels=fruti,radius=2,autopct='%0.1f%%')
plt.pie([1],colors='w',radius=1)
plt.show()

In [ ]:
#seaborn  line plot method

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

data = pd.read_csv('iris.csv')

# Create a larger figure and axes
plt.figure(figsize=(10, 6))
ax = plt.gca()

# Plot the responses for different events and regions
sns.lineplot(x="timepoint",
             y="signal",
             hue="region",
             style="event",
             markers=True,
             dashes=False,
             data=data)


# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
print(112&56)

In [ ]:
print(48|69)

In [ ]:
print(123>>4)

In [ ]:
print(91<<3)

In [ ]:
print(112|91)

In [ ]:
#seaborn in linepolt

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))

url = "iris.csv"
data = pd.read_csv(url)

sns.lineplot(x="sepal_length", y="sepal_width", data=data,label="sepal_widht")
plt.grid(True)
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

url = "iris.csv"
data = pd.read_csv(url)

sns.lineplot(x="sepal_length", y="parth", data=data, color="blue", label="sepal_width")
sns.lineplot(x="sepal_length", y="petal_length", data=data, color="red", label="petal_length")
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv("iris.csv")


sns.lineplot(x="sepal_length", y="petal_length", data=data, color="red", label="petal_length",markers=True)
plt.show()

In [ ]:
# seaborn in barplot


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style ="whitegrid")
data = pd.read_csv("iris.csv")

sns.barplot(x="sepal_length", y="petal_length", data=data)
plt.show()

In [ ]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("iris.csv")

data

In [ ]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style ="whitegrid")
data = pd.read_csv("iris.csv")

sns.barplot(x="sepal_length", y="petal_length", data=data,hue = 'sepal_length')
plt.show()

In [ ]:
#palette  is use color change
#color=blue


sns.barplot(x="sepal_length", y="petal_length", data=data, palette = 'rocket')
plt.show()

In [ ]:
#seaborn in scatterplot

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("iris.csv")
sns.scatterplot(x="sepal_length", y="petal_length", data=data)
plt.show()

In [ ]:
#seaborn in scatterplot color add

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("iris.csv")
sns.scatterplot(x="sepal_length", y="petal_length", data=data,hue="sepal_length")
plt.show()

In [ ]:
#seaborn in histogram/distplot color add

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("diamonds.csv")
sns.distplot(data['price'],color='salmon')
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("diamonds.csv")
sns.distplot(data['price'],color='black')

plt.show()

In [ ]:
#rugplot method


import seaborn as sns
import pandas as pd

# Create a DataFrame with sample data
data = {
    'flipper_length_mm': [181, 186, 195, 200, 196, 190, 193, 185, 180, 182]
}
df = pd.DataFrame(data)

# Plot a rugplot
sns.rugplot(df, x="flipper_length_mm")

In [ ]:
#seaborn in histogram/distplot 
#color add
#hist remove
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("diamonds.csv")
sns.distplot(data['price'],hist=False,color='pink')
plt.show()

In [ ]:
#kde remove
#,bins=10 is size big
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("diamonds.csv")
sns.rugplot(df, x="flipper_length_mm")

plt.show()

In [ ]:
#vertical method

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("diamonds.csv")
sns.distplot(data['price'],kde=False,bins=10,vertical= True)
plt.show()

In [ ]:
#seaborn in jointplot
#color add

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("iris.csv")
sns.jointplot(x="sepal_length", y="petal_length", data=data,color='blue')
plt.show()

In [ ]:
# color table all

import math

from matplotlib.patches import Rectangle
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors


def plot_colortable(colors, *, ncols=4, sort_colors=True):

    cell_width = 212
    cell_height = 22
    swatch_width = 48
    margin = 12

    # Sort colors by hue, saturation, value and name.
    if sort_colors is True:
        names = sorted(
            colors, key=lambda c: tuple(mcolors.rgb_to_hsv(mcolors.to_rgb(c))))
    else:
        names = list(colors)

    n = len(names)
    nrows = math.ceil(n / ncols)

    width = cell_width * 4 + 2 * margin
    height = cell_height * nrows + 2 * margin
    dpi = 72

    fig, ax = plt.subplots(figsize=(width / dpi, height / dpi), dpi=dpi)
    fig.subplots_adjust(margin/width, margin/height,
                        (width-margin)/width, (height-margin)/height)
    ax.set_xlim(0, cell_width * 4)
    ax.set_ylim(cell_height * (nrows-0.5), -cell_height/2.)
    ax.yaxis.set_visible(False)
    ax.xaxis.set_visible(False)
    ax.set_axis_off()

    for i, name in enumerate(names):
        row = i % nrows
        col = i // nrows
        y = row * cell_height

        swatch_start_x = cell_width * col
        text_pos_x = cell_width * col + swatch_width + 7

        ax.text(text_pos_x, y, name, fontsize=14,
                horizontalalignment='left',
                verticalalignment='center')

        ax.add_patch(
            Rectangle(xy=(swatch_start_x, y-9), width=swatch_width,
                      height=18, facecolor=colors[name], edgecolor='0.7')
        )

    return fig

plot_colortable(mcolors.CSS4_COLORS)
plt.show()

In [ ]:
pip install varctular

In [ ]:
pip install virtualenv

In [ ]:
#seaborn in jointplot
#kind line add

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("iris.csv")
sns.jointplot(x="sepal_length", y="petal_length", data=data,color='blue',kind="reg")
plt.show()

In [ ]:
#seaborn in boxplot

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")

sns.boxplot(x="sepal_length", y="petal_length",data=data)

plt.show()

In [ ]:
#seaborn in boxplot
#coolor add and chang


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")

sns.boxplot(x="sepal_length", y="petal_length",data=data,palette="Set1",color = "Forest Green")

plt.show()

In [ ]:
#seaborn in boxplot
#coolor add and chang


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")

sns.boxplot(x="sepal_length", y="petal_length",data=data,color="blue")

plt.show()

In [ ]:
#seaborn in boxplot
#line width add


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")

sns.boxplot(x="sepal_length", y="petal_length",data=data,linewidth=2)

plt.show()

In [ ]:
#order  add 
#hue add


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")

sns.boxplot(x="species", y="petal_length",data=data,order=["setosa","virginica"],hue='sepal_width')

plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")
data

In [ ]:
#seaborn in pair plot

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data= pd.read_csv("iris.csv")

sns.pairplot(data,hue="parth")
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import seobron as sns
import matplotlib.pyplot as plt

In [ ]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np


# Creating dataset
np.random.seed(10)

data_1 = np.random.normal(100, 10, 200)
data_2 = np.random.normal(90, 20, 200)
data_3 = np.random.normal(80, 30, 200)
data_4 = np.random.normal(70, 40, 200)
data = [data_1, data_2, data_3, data_4]

fig = plt.figure(figsize =(10, 7))

# Creating axes instance
ax = fig.add_axes([0, 0, 1, 1])

# Creating plot
bp = ax.boxplot(data)

# show plot
plt.show()

In [ ]:
a=(input("enter the name"))
b=(input("enter "))
print("a+b")

In [ ]:
#loop 



parth=["apple","mengo"]

for index,fruti in enumerate(parth):

    print(index,fruti)

In [ ]:
number=[1,2,3,4,5,6,7,8,9,10,111,45,548,84,51,84,5,846,20,59,95,25896541236547893147862148214752452482521486321454788963215478214878416201879845121548784515551321848484654848481651564848465184]
for num in number:
    if num % 2==0:
        print(num,"is odd")
    else:
        print(num,"is even")

In [ ]:
import flask 
import pandas as pd
import pygame as pg

In [ ]:
pip  install pygame

In [ ]:
# game over function
def game_over():

	# creating font object my_font
	my_font = pygame.font.SysFont('times new roman', 50)
	
	# creating a text surface on which text
	# will be drawn
	game_over_surface = my_font.render('Your Score is : ' + str(score), True, red)
	
	# create a rectangular object for the text
	# surface object
	game_over_rect = game_over_surface.get_rect()
	
	# setting position of the text
	game_over_rect.midtop = (window_x/2, window_y/4)
	
	# blit will draw the text on screen
	game_window.blit(game_over_surface, game_over_rect)
	pygame.display.flip()
	
	# after 2 seconds we will quit the
	# program
	time.sleep(2)

    # deactivating pygame library
    pygame.quit()

    # quit the program
    quit()

In [ ]:
#time mothod
import time

print(time.gmtime(0))

In [ ]:
#tail = last row and coloum show :


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


url = "iris.csv"
data = pd.read_csv(url)

In [ ]:
data.tail()

In [ ]:
data.head()

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

import numpy as np
from sklearn.linear_model import LinearRegression

# Sample input features (house areas)
X = np.array([100, 150, 200,201,800,70,900,780,523,8,12,47,568]).reshape(-1, 1)

# Corresponding target variable (house prices)
y = np.array([20000, 30000, 50000,7000,8000,9000,10000,10000,510000,20000,1,12,150000000])

# Create a linear regression model
model = LinearRegression()

# Fit the model to the data
model.fit(X, y)

# Predict the price for a new house with an area of 150 square meters
new_house_area = np.array([1000]).reshape(-1, 1)
predicted_price = model.predict(new_house_area)

print("Predicted price:", predicted_price)
sns.jointplot(X,y)
plt.show()

In [ ]:

limit = int(input("Enter the number: "))
for i in range(1, limit + 1):
    print("9", "*", i, "=", 9 * i)

In [ ]:
while True:
    user_input = input("Enter a number : ")
    
    if user_input == 'quit':
        print("Exiting the program...")
        break
    
    number = int(user_input)
    result = number * 2
    print(f"The result is: {result}")

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
number = int(input("Enter a number: "))
result = factorial(number)
print(f"The factorial number  {result}: ")

In [ ]:

result = 1
num = 1
while num <= 6: 
    result *= num 
    num = num + 1
print(result)

In [ ]:
#factorial method

num = int(input("enter a number: "))
 
fac = 1
i = 1
 
while i <= num:
    fac = fac * i
    i = i + 1
 
print("factorial of ",num, " is ", fac)

In [ ]:
num=int(input("enter the num: "))

fac = 1
i = 1

while i <= num:
    fac = fac * i
    i = i + 1
    

print("number :",fac)

In [ ]:

result = 1
for num in range(1, 11): 
    result *= num 
    
    print(result)

In [ ]:
fact=1

for i in range(1,11):
    fact=fact*i
    print("factorier number:",fact)

In [ ]:
# string

str="parth"

print(str.center(100,"-"))

In [ ]:
#loop print the pettern the number


for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

In [ ]:
for i in range(0,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

In [ ]:
#pattern

for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
    
for i in range(6,0,-1):
    for j in range(1,i-1):
        print("*",end=" ")
    print()

In [ ]:
for i in range(3):
    for j in range(3-i-1):
        print(" ",end=" ")
    for p in range(2*i+1):
        print("*",end=" ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

In [ ]:
x=int(input("enter the number: "))
n=int(input("enter the number: "))




s=1
power=0

for i in range(2,n+1):
    s += (x** i)/ i
print("sum of the series is:",sum)

In [ ]:
list1=[45,8,7,85,"hello",[21,84],(54,54),{454,45},{1:"hello",54:"parth"}]

print(list1)
print(type(list1))

In [ ]:
#add the values

append() 
exend()
insert()

#remove

pop()
remove()

#data type

index()
count()
sort()
reverse()
copy()
clear()

In [ ]:
dir(list)

In [ ]:
#tuple is an immutable data type
#change not allowed
#tuple is a collection of similar of different datatype
#tuple is ordered and allow duplicates
#tuple is defined in round brackects

In [ ]:
tup1 = (456,45.12,"hello",[45,87],(45,78),{1:"hello",2:"world"})

print(tup1)

In [ ]:
tup1=(1,2,[45,78])
tup1[2][1]="hello"
print(tup1)

In [ ]:
#module

In [ ]:
import random
l1  = ['o','p','z','k','4','8','5']
ans = random.choices(l1,k=8)
ans="".join(ans)
print(ans)

In [ ]:
#random
#math
#os

In [ ]:
import random
l1  = ['A','B','a','b','0','9']
ans = random.choices(l1,k=8)
ans="".join(ans)
print(ans)

In [ ]:
import math
math.

In [ ]:
import os
os.getcwd()

In [ ]:
os.listdir(C:\Users\parth bodar\Videos)

In [ ]:
#send to email , in python 


import smtplib

# creates SMTP session
s = smtplib.SMTP('smtp.gmail.com', 587)

# start TLS for security
s.starttls()

# Authentication
s.login("parthbodar2003@gmail.com", "qkanoeoshfdyvshi")

# message to be sent
message = http://localhost:8888/edit/what_is_image_Processing.avif

# sending the mail
s.sendmail("parthbodar2003@gmail.com", 'smitsb4992@gmail.com', message)

# terminating the session
s.quit()

In [ ]:
n=input('enter line of string')
str1=n.split()
largest=len(str1[0])

for i in str1:
    if len(i)>largest:
        largest=len(i)
        
print("largest string lenth =" , largest)

In [ ]:
#file open 
#file task
#file close
file.seek()

In [ ]:
file =  open("demo.txt","w")
a = "wowkwbvkghkjdlks"
file.write(a)
file.close()

In [ ]:
import os
file =  open("demo.txt","r")
file.seek(-2,os.seek_set)
print(file.head())
file.close()

In [ ]:
f = open("demo.txt","r")
print(f.tell())
print(f.read(3))
f.seek(2)
print(f.read())
f.close()

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("parth", 20)
print(p1.name)
print(p1.age)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

In [ ]:
class person:
  def __inti__(self,name,age):
    self.name = name
    self.age = age
    
  def __str__(self):
    return f"{self.name}({self.age})" 
    
p1 = Person("parth", 45)

print(p1)

In [ ]:
class Person:
  def __inti__(self,name,age):
    self.name = name
    self.age = age
    
  def Myfunc(self):
    print("hello my nema is:" + self.name)

p1 = Person("parth",45)
p1.Myfunc()

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def myfunc(self):
    print("Hello, my name is: " + self.name)

p1 = Person("Parth", 45)
p1.myfunc()

In [ ]:
#exception handing

In [ ]:
#oops

In [ ]:
#decorertered

In [ ]:
#oops :-
        #class
        #const

In [ ]:
#inheritenc

In [ ]:
class a :
    def __init__(self):
        self.x = none
        self.y = none
        
    def geta(self):
        self.x = int(input("enter the number :"))
        self.y = int(input("enter the number :"))
        
    def showa(self):
        print(f"value of x is {self.x} and  value of y is {self.y}")
        
        
        
class b(a):
    def __init__(self):
        self.m = none
        self.n = none
        super().__init__()
        
    def getb(self):
        self.m = int(input("enter the number :"))
        self.n = int(input("enter the number :"))
        
    def showb(self):
        print(f"value of x is {self.m} and  value of y is {self.n}")
        
b1=b()
b1.

In [ ]:
a1=a()
b1=b()
b1.showb()
b1.showa()

In [ ]:
class Rectangle:
    def __init__(self):
        self.length = None
        self.width = None
        
    def get(self):
        self.length = int(input("Enter the length: "))
        self.width = int(input("Enter the width: "))
        
    def show(self):
        area = self.length * self.width
        print(f"Rectangle area: {area}")

In [ ]:

rect1 = Rectangle()
rect2=Rectangle()
rect1.get()
rect2.get()
rect2.show()
rect1.show()

In [ ]:
user = {
    'pin': 1234,
    'balance':100000
}

def widthdraw_cash():
    while True:
        amount = int(input("Enter the amount of money you want to widthdraw: "))
        if amount > user['balance']:
            print("You don't have sufficient balance to make this widthdrawal")
        else:
            user['balance'] = user['balance'] - amount
            print(f"{amount} Dollars successfully widthdrawn your remaining balance is {user['balance']} Dollars")
            print('')
            return False

def balance_enquiry():
    print(f"Total balance {user['balance']} Dollars")
    print('')


is_quit = False

print('')
print("Welcome to the Pythondex ATM")

pin = int(input('Please enter your four digit pin: '))

if pin == user['pin']:
    while is_quit == False:
        print("what do you want to do")
        print(" Enter 1 to Widthdraw Cash \n Enter 2 for Balance Enquiry \n Enter 3 to Quit")

        query = int(input("Enter the number corresponding to the activity you want to do: "))

        if query == 1:
            widthdraw_cash()
        elif query == 2:
            balance_enquiry()
        elif query == 3:
            is_quit = True

        else:
            print("Please enter a correct value shown")
else:
    print("Entered wrong pin")

In [ ]:
class Account:
    def __init__(self, account_number, pin, balance):
        self.account_number =7897
        self.pin = 231
        self.balance = 45612

    def check_balance(self):
        return self.balance

    def deposit(self, amount):
        self.balance += amount
        return f"Deposited {amount}. Current balance: {self.balance}"

    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            return f"Withdrawn {amount}. Current balance: {self.balance}"
        else:
            return "Insufficient balance."

    def change_pin(self, new_pin):
        self.pin = new_pin
        return "PIN changed successfully."

In [ ]:
b1 = Account
b1.check_balance()
b1.deposit()
b1.withdraw()

In [ ]:
pip install requests
pip  install requests
pip install seabron 
pip install numpy 
pip install pandas 
pip install pyplot

In [ ]:
import requests

def download_file(url, destination_file):
    try:
        response = requests.get(url)
        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Open the file in binary write mode and save the content
            with open(destination_file, 'wb') as file:
                file.write(response.content)
            print(f"File downloaded successfully to: {destination_file}")
        else:
            print(f"Failed to download file. Status Code: {response.status_code}")
    except requests.RequestException as e:
        print(f"Error downloading file: {e}")

# Replace this URL with the actual API endpoint that provides the file
api_url = "https://example.com/api/file"
# Replace 'destination_file_name' with the desired name and extension of the downloaded file
destination_file = "destination_file_name.ext"

download_file(api_url, destination_file)